* {
  font-family: "Titillium Web", sans-serif;
  margin: auto;
}

.Second-nav {
  max-height: 100%;
  max-width: 100%;
  text-decoration: none;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  display: flex;
}

.li {
  color: #fff;
  display: inline-block;
  justify-content: space-between;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  margin: auto 90px;
  min-height: 0;
}

.Second-nav .li:hover {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;

  color: black;
  padding: 0px;
}

.header--image {
  max-width: 100px;
  margin-right: 6px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header--project {
  /* font-size: 12px; */
  padding-left: 80px;
  font-weight: 500;
}

.extra {
  justify-content: center;
  margin-top: 0;
  margin-left: 30%;
  margin-top: 0;
  /* max-width:400px; */
  max-width: auto;
  /* padding: auto; */
  background-color: #fff7f7;
  border-radius: 40px;
}

.extra li {
  display: inline-block;
  padding: 9px;
  list-style: none;
}

.fa-globe {
  padding-left: 30px;
}

.card-list {
  margin-top: 50px;
  display: flex;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.starry {
  max-height: 20px;
  padding-left: 110px;
}
.card--stats {
  float: left;
  width: 100%;
  padding: 10px;
  min-height: 0px;
}

.card--imag {
  height: 266px;
  width: 315px;
  border-radius: 9px;
}
.bold {
  font-weight: bold;
  color: black;
}

.gray {
  font-weight: 500;
  color: gray;
}
.info {
  padding: 3px;
}
